[#if VIEW_MODE="show_help"#]
   <h4>Справка</h4>
[#else#]
   <div>
      <table border="0" cellpadding="8">
         <tr>
            <td rowspan="2" style="width:65px">
               <img src="../templates/lgwebostv/logo.png" height="32px">
            </td>
            <td style="height:33px;vertical-align:middle">IP: <b>[#IP#]</b></td>
            <td style="height:33px;vertical-align:middle">Системный ID: <span class="badge">[#ID#]</span></td>
         </tr>
      </table>
   </div>
[#endif#]
<div class="panel-group" id="accordion" style="width:98%">
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#general_help">Общие сведения</a>
      </div>
      <div class="panel-body collapse" id="general_help">
         <div style="width:98%">
            <p>Модуль предназначен для интеграции смарт-телевизоров <strong>Samsung</strong> на платформе <strong>Tizen</strong>.</p>
            <p><strong>Возможности модуля:</strong></p>
            <ul>
            <li>ручное добавление ТВ по IP адресу;</li>
            <li>поддержка нескольких ТВ;</li>
            <li>определение доступности ТВ;</li>
            <li>получение громкости ТВ;</li>
            <li>управление ТВ (каналы, источники, приложения, громкость, выключение).</li>
            </ul>
            <p>Для добавления телевизора нажмите кнопку +Добавить, введите IP адрес и придумайте название телевизора. После нажатия кнопки Добавить телевизор запросит разрешение на сопряжение с модулем. Отвечаем утвердительно, и после этого телевизор появится в списке устройств в модуле</p>
			<p>Так как Samsung не предоставляет открытое API для управления своими телевизорами, в модуле собрано несколько типов управления, добытых из открытых источников:
			<ul>
            <li><strong>wss</strong>-соединение(SSL Websocket) на порту <strong>8002</strong> - отправка команд, запрос приложений, открытие сайтов встроенным браузером;</li>
            <li><strong>POST</strong> запросы на порт <strong>8001</strong> для управления(запуск, закрытие, статус) приложениями;</li>
            <li>протокол <strong>SOAP</strong> на порту <strong>9197</strong> для считывания уровня громкости, установки громкости;</li>
			<li><strong>Wake-on-lan</strong> для запуска выключенного телевизора (не испытывался на Wi-Fi соединении).</li>
            </ul>
			</p>
			Модуль работает с устройствами, выпущенными <strong><em>не ранее</em> 2016 года</strong> и с обновленными прошивками.
			<p><strong>ВНИМАНИЕ!!!</strong></p>
			<p><strong>Если вы ограничили загрузку обновлений на телевизор для взаимодействия с какими-либо программами, то, скорее всего, модуль не будет взаимодействовать с вашим устройством.</p>
			<p><em>Все действия, связанные с обновлением вашего устройства, вы делаете на свой страх и риск и автор модуля не несет никакой ответственности за это. Равно как и не гарантирует возможности взаимодействия модуля с вашим устройством после обновления.</em></strong></p>
            <p>Модуль реализует классическую концепцию <strong>MajorDoMo</strong> для взаимодействия с пользователем через привязанные к определенным командам или приложениям <strong>свойства </strong> объекта. Объекты и свойства создаются пользователем самостоятельно. В модуле уже добавлены основные команды управления телевизором, но вы можете добавить свою. Список доступных команд см. ниже</p>
			<p>В модуле имеется цикл, который раз в 10 секунд опрашивает состояние ТВ, а именно определяет, какое приложение запущено в данный момент, и запрашивает уровень громкости.</p>
         </div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#metrics_help">Список команд</a>
      </div>
      <div class="panel-body collapse" id="metrics_help">
         <div style="width:900px">
          <p>Список ключей может различаться в зависимости от модели телевизора. Ниже приведены некоторые общие коды и их описания. Не все ключи могут работать конкретно на вашей модели телевизора.</p>

			<p><strong><em>Power keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_POWER</td>
			<td>PowerToggle</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Input keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_SOURCE</td>
			<td>Source</td>
			</tr>
			<tr>
			<td>KEY_COMPONENT1</td>
			<td>Component1</td>
			</tr>
			<tr>
			<td>KEY_COMPONENT2</td>
			<td>Component2</td>
			</tr>
			<tr>
			<td>KEY_AV1</td>
			<td>AV1</td>
			</tr>
			<tr>
			<td>KEY_AV2</td>
			<td>AV2</td>
			</tr>
			<tr>
			<td>KEY_AV3</td>
			<td>AV3</td>
			</tr>
			<tr>
			<td>KEY_SVIDEO1</td>
			<td>SVideo1</td>
			</tr>
			<tr>
			<td>KEY_SVIDEO2</td>
			<td>SVideo2</td>
			</tr>
			<tr>
			<td>KEY_SVIDEO3</td>
			<td>SVideo3</td>
			</tr>
			<tr>
			<td>KEY_HDMI</td>
			<td>HDMI</td>
			</tr>
			<tr>
			<td>KEY_HDMI1</td>
			<td>HDMI1</td>
			</tr>
			<tr>
			<td>KEY_HDMI2</td>
			<td>HDMI2</td>
			</tr>
			<tr>
			<td>KEY_HDMI3</td>
			<td>HDMI3</td>
			</tr>
			<tr>
			<td>KEY_HDMI4</td>
			<td>HDMI4</td>
			</tr>
			<tr>
			<td>KEY_FM_RADIO</td>
			<td>FMRadio</td>
			</tr>
			<tr>
			<td>KEY_DVI</td>
			<td>DVI</td>
			</tr>
			<tr>
			<td>KEY_DVR</td>
			<td>DVR</td>
			</tr>
			<tr>
			<td>KEY_TV</td>
			<td>TV</td>
			</tr>
			<tr>
			<td>KEY_ANTENA</td>
			<td>AnalogTV</td>
			</tr>
			<tr>
			<td>KEY_DTV</td>
			<td>DigitalTV</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Number keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_1</td>
			<td>&nbsp&nbsp 1</td>
			</tr>
			<tr>
			<td>KEY_2</td>
			<td>&nbsp&nbsp 2</td>
			</tr>
			<tr>
			<td>KEY_3</td>
			<td>&nbsp&nbsp 3</td>
			</tr>
			<tr>
			<td>KEY_4</td>
			<td>&nbsp&nbsp 4</td>
			</tr>
			<tr>
			<td>KEY_5</td>
			<td>&nbsp&nbsp 5</td>
			</tr>
			<tr>
			<td>KEY_6</td>
			<td>&nbsp&nbsp 6</td>
			</tr>
			<tr>
			<td>KEY_7</td>
			<td>&nbsp&nbsp 7</td>
			</tr>
			<tr>
			<td>KEY_8</td>
			<td>&nbsp&nbsp 8</td>
			</tr>
			<tr>
			<td>KEY_9</td>
			<td>&nbsp&nbsp 9</td>
			</tr>
			<tr>
			<td>KEY_0</td>
			<td>&nbsp&nbsp 0</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Misc keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_PANNEL_CHDOWN</td>
			<td>3D</td>
			</tr>
			<tr>
			<td>KEY_ANYNET</td>
			<td>AnyNet+</td>
			</tr>
			<tr>
			<td>KEY_ESAVING</td>
			<td>EnergySaving</td>
			</tr>
			<tr>
			<td>KEY_SLEEP</td>
			<td>SleepTimer</td>
			</tr>
			<tr>
			<td>KEY_DTV_SIGNAL</td>
			<td>DTVSignal</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Channel keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_CHUP</td>
			<td>ChannelUp</td>
			</tr>
			<tr>
			<td>KEY_CHDOWN</td>
			<td>ChannelDown</td>
			</tr>
			<tr>
			<td>KEY_PRECH</td>
			<td>PreviousChannel</td>
			</tr>
			<tr>
			<td>KEY_FAVCH</td>
			<td>FavoriteChannels</td>
			</tr>
			<tr>
			<td>KEY_CH_LIST</td>
			<td>ChannelList</td>
			</tr>
			<tr>
			<td>KEY_AUTO_PROGRAM</td>
			<td>AutoProgram</td>
			</tr>
			<tr>
			<td>KEY_MAGIC_CHANNEL</td>
			<td>MagicChannel</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Volume keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_VOLUP</td>
			<td>VolumeUp</td>
			</tr>
			<tr>
			<td>KEY_VOLDOWN</td>
			<td>VolumeDown</td>
			</tr>
			<tr>
			<td>KEY_MUTE</td>
			<td>Mute</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Direction keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_UP</td>
			<td>NavigationUp</td>
			</tr>
			<tr>
			<td>KEY_DOWN</td>
			<td>NavigationDown</td>
			</tr>
			<tr>
			<td>KEY_LEFT</td>
			<td>NavigationLeft</td>
			</tr>
			<tr>
			<td>KEY_RIGHT</td>
			<td>NavigationRight</td>
			</tr>
			<tr>
			<td>KEY_RETURN</td>
			<td>NavigationReturn/Back</td>
			</tr>
			<tr>
			<td>KEY_ENTER</td>
			<td>NavigationEnter</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Media keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_REWIND</td>
			<td>Rewind</td>
			</tr>
			<tr>
			<td>KEY_STOP</td>
			<td>Stop</td>
			</tr>
			<tr>
			<td>KEY_PLAY</td>
			<td>Play</td>
			</tr>
			<tr>
			<td>KEY_FF</td>
			<td>FastForward</td>
			</tr>
			<tr>
			<td>KEY_REC</td>
			<td>Record</td>
			</tr>
			<tr>
			<td>KEY_PAUSE</td>
			<td>Pause</td>
			</tr>
			<tr>
			<td>KEY_LIVE</td>
			<td>Live</td>
			</tr>
			<tr>
			<td>KEY_QUICK_REPLAY</td>
			<td>fnKEY_QUICK_REPLAY</td>
			</tr>
			<tr>
			<td>KEY_STILL_PICTURE</td>
			<td>fnKEY_STILL_PICTURE</td>
			</tr>
			<tr>
			<td>KEY_INSTANT_REPLAY</td>
			<td>fnKEY_INSTANT_REPLAY</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Picture in Picture</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_PIP_ONOFF</td>
			<td>PIPOn/Off</td>
			</tr>
			<tr>
			<td>KEY_PIP_SWAP</td>
			<td>PIPSwap</td>
			</tr>
			<tr>
			<td>KEY_PIP_SIZE</td>
			<td>PIPSize</td>
			</tr>
			<tr>
			<td>KEY_PIP_CHUP</td>
			<td>PIPChannelUp</td>
			</tr>
			<tr>
			<td>KEY_PIP_CHDOWN</td>
			<td>PIPChannelDown</td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_SMALL</td>
			<td>PIPSmall</td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_WIDE</td>
			<td>PIPWide</td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_RIGHT_BOTTOM</td>
			<td>PIPBottomRight</td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_SOURCE_CHANGE</td>
			<td>PIPSourceChange</td>
			</tr>
			<tr>
			<td>KEY_PIP_SCAN</td>
			<td>PIPScan</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Modes</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_VCR_MODE</td>
			<td>VCRMode</td>
			</tr>
			<tr>
			<td>KEY_CATV_MODE</td>
			<td>CATVMode</td>
			</tr>
			<tr>
			<td>KEY_DSS_MODE</td>
			<td>DSSMode</td>
			</tr>
			<tr>
			<td>KEY_TV_MODE</td>
			<td>TVMode</td>
			</tr>
			<tr>
			<td>KEY_DVD_MODE</td>
			<td>DVDMode</td>
			</tr>
			<tr>
			<td>KEY_STB_MODE</td>
			<td>STBMode</td>
			</tr>
			<tr>
			<td>KEY_PCMODE</td>
			<td>PCMode</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Color keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_GREEN</td>
			<td>Green</td>
			</tr>
			<tr>
			<td>KEY_YELLOW</td>
			<td>Yellow</td>
			</tr>
			<tr>
			<td>KEY_CYAN</td>
			<td>Cyan</td>
			</tr>
			<tr>
			<td>KEY_RED</td>
			<td>Red</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Teletext</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_TTX_MIX</td>
			<td>TeletextMix</td>
			</tr>
			<tr>
			<td>KEY_TTX_SUBFACE</td>
			<td>TeletextSubface</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>AspectRatio</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_ASPECT</td>
			<td>AspectRatio</td>
			</tr>
			<tr>
			<td>KEY_PICTURE_SIZE</td>
			<td>PictureSize</td>
			</tr>
			<tr>
			<td>KEY_4_3</td>
			<td>AspectRatio4:3</td>
			</tr>
			<tr>
			<td>KEY_16_9</td>
			<td>AspectRatio16:9</td>
			</tr>
			<tr>
			<td>KEY_EXT14</td>
			<td>AspectRatio3:4(Alt)</td>
			</tr>
			<tr>
			<td>KEY_EXT15</td>
			<td>AspectRatio16:9(Alt)</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Picture Mode</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_PMODE</td>
			<td>PictureMode</td>
			</tr>
			<tr>
			<td>KEY_PANORAMA</td>
			<td>PictureModePanorama</td>
			</tr>
			<tr>
			<td>KEY_DYNAMIC</td>
			<td>PictureModeDynamic</td>
			</tr>
			<tr>
			<td>KEY_STANDARD</td>
			<td>PictureModeStandard</td>
			</tr>
			<tr>
			<td>KEY_MOVIE1</td>
			<td>PictureModeMovie</td>
			</tr>
			<tr>
			<td>KEY_GAME</td>
			<td>PictureModeGame</td>
			</tr>
			<tr>
			<td>KEY_CUSTOM</td>
			<td>PictureModeCustom</td>
			</tr>
			<tr>
			<td>KEY_EXT9</td>
			<td>PictureModeMovie(Alt)</td>
			</tr>
			<tr>
			<td>KEY_EXT10</td>
			<td>PictureModeStandard(Alt)</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Menus</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_MENU</td>
			<td>Menu</td>
			</tr>
			<tr>
			<td>KEY_TOPMENU</td>
			<td>TopMenu</td>
			</tr>
			<tr>
			<td>KEY_TOOLS</td>
			<td>Tools</td>
			</tr>
			<tr>
			<td>KEY_HOME</td>
			<td>Home</td>
			</tr>
			<tr>
			<td>KEY_CONTENTS</td>
			<td>Contents</td>
			</tr>
			<tr>
			<td>KEY_GUIDE</td>
			<td>Guide</td>
			</tr>
			<tr>
			<td>KEY_DISC_MENU</td>
			<td>DiscMenu</td>
			</tr>
			<tr>
			<td>KEY_DVR_MENU</td>
			<td>DVRMenu</td>
			</tr>
			<tr>
			<td>KEY_HELP</td>
			<td>Help</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>OSD</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_INFO</td>
			<td>Info</td>
			</tr>
			<tr>
			<td>KEY_CAPTION</td>
			<td>Caption</td>
			</tr>
			<tr>
			<td>KEY_CLOCK_DISPLAY</td>
			<td>ClockDisplay</td>
			</tr>
			<tr>
			<td>KEY_SETUP_CLOCK_TIMER</td>
			<td>SetupClock</td>
			</tr>
			<tr>
			<td>KEY_SUB_TITLE</td>
			<td>Subtitle</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Zoom</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_ZOOM_MOVE</td>
			<td>ZoomMove</td>
			</tr>
			<tr>
			<td>KEY_ZOOM_IN</td>
			<td>ZoomIn</td>
			</tr>
			<tr>
			<td>KEY_ZOOM_OUT</td>
			<td>ZoomOut</td>
			</tr>
			<tr>
			<td>KEY_ZOOM1</td>
			<td>Zoom1</td>
			</tr>
			<tr>
			<td>KEY_ZOOM2</td>
			<td>Zoom2</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Other keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_WHEEL_LEFT</td>
			<td>WheelLeft</td>
			</tr>
			<tr>
			<td>KEY_WHEEL_RIGHT</td>
			<td>WheelRight</td>
			</tr>
			<tr>
			<td>KEY_ADDDEL</td>
			<td>Add/Del</td>
			</tr>
			<tr>
			<td>KEY_PLUS100</td>
			<td>Plus100</td>
			</tr>
			<tr>
			<td>KEY_AD</td>
			<td>AD</td>
			</tr>
			<tr>
			<td>KEY_LINK</td>
			<td>Link</td>
			</tr>
			<tr>
			<td>KEY_TURBO</td>
			<td>Turbo</td>
			</tr>
			<tr>
			<td>KEY_CONVERGENCE</td>
			<td>Convergence</td>
			</tr>
			<tr>
			<td>KEY_DEVICE_CONNECT</td>
			<td>DeviceConnect</td>
			</tr>
			<tr>
			<td>KEY_11</td>
			<td>KEY11</td>
			</tr>
			<tr>
			<td>KEY_12</td>
			<td>KEY12</td>
			</tr>
			<tr>
			<td>KEY_FACTORY</td>
			<td>KEYFactory</td>
			</tr>
			<tr>
			<td>KEY_3SPEED</td>
			<td>KEY3SPEED</td>
			</tr>
			<tr>
			<td>KEY_RSURF</td>
			<td>KEYRSURF</td>
			</tr>
			<tr>
			<td>KEY_FF_</td>
			<td>FF_</td>
			</tr>
			<tr>
			<td>KEY_REWIND_</td>
			<td>REWIND_</td>
			</tr>
			<tr>
			<td>KEY_ANGLE</td>
			<td>Angle</td>
			</tr>
			<tr>
			<td>KEY_RESERVED1</td>
			<td>Reserved1</td>
			</tr>
			<tr>
			<td>KEY_PROGRAM</td>
			<td>Program</td>
			</tr>
			<tr>
			<td>KEY_BOOKMARK</td>
			<td>Bookmark</td>
			</tr>
			<tr>
			<td>KEY_PRINT</td>
			<td>Print</td>
			</tr>
			<tr>
			<td>KEY_CLEAR</td>
			<td>Clear</td>
			</tr>
			<tr>
			<td>KEY_VCHIP</td>
			<td>VChip</td>
			</tr>
			<tr>
			<td>KEY_REPEAT</td>
			<td>Repeat</td>
			</tr>
			<tr>
			<td>KEY_DOOR</td>
			<td>Door</td>
			</tr>
			<tr>
			<td>KEY_OPEN</td>
			<td>Open</td>
			</tr>
			<tr>
			<td>KEY_DMA</td>
			<td>DMA</td>
			</tr>
			<tr>
			<td>KEY_MTS</td>
			<td>MTS</td>
			</tr>
			<tr>
			<td>KEY_DNIe</td>
			<td>DNIe</td>
			</tr>
			<tr>
			<td>KEY_SRS</td>
			<td>SRS</td>
			</tr>
			<tr>
			<td>KEY_CONVERT_AUDIO_MAINSUB</td>
			<td>ConvertAudioMain/Sub</td>
			</tr>
			<tr>
			<td>KEY_MDC</td>
			<td>MDC</td>
			</tr>
			<tr>
			<td>KEY_SEFFECT</td>
			<td>SoundEffect</td>
			</tr>
			<tr>
			<td>KEY_PERPECT_FOCUS</td>
			<td>PERPECTFocus</td>
			</tr>
			<tr>
			<td>KEY_CALLER_ID</td>
			<td>CallerID</td>
			</tr>
			<tr>
			<td>KEY_SCALE</td>
			<td>Scale</td>
			</tr>
			<tr>
			<td>KEY_MAGIC_BRIGHT</td>
			<td>MagicBright</td>
			</tr>
			<tr>
			<td>KEY_W_LINK</td>
			<td>WLink</td>
			</tr>
			<tr>
			<td>KEY_DTV_LINK</td>
			<td>DTVLink</td>
			</tr>
			<tr>
			<td>KEY_APP_LIST</td>
			<td>ApplicationList</td>
			</tr>
			<tr>
			<td>KEY_BACK_MHP</td>
			<td>BackMHP</td>
			</tr>
			<tr>
			<td>KEY_ALT_MHP</td>
			<td>AlternateMHP</td>
			</tr>
			<tr>
			<td>KEY_DNSe</td>
			<td>DNSe</td>
			</tr>
			<tr>
			<td>KEY_RSS</td>
			<td>RSS</td>
			</tr>
			<tr>
			<td>KEY_ENTERTAINMENT</td>
			<td>Entertainment</td>
			</tr>
			<tr>
			<td>KEY_ID_INPUT</td>
			<td>IDInput</td>
			</tr>
			<tr>
			<td>KEY_ID_SETUP</td>
			<td>IDSetup</td>
			</tr>
			<tr>
			<td>KEY_ANYVIEW</td>
			<td>AnyView</td>
			</tr>
			<tr>
			<td>KEY_MS</td>
			<td>MS</td>
			</tr>
			<tr>
			<td>KEY_MORE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_MIC</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_NINE_SEPERATE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_FORMAT</td>
			<td>AutoFormat</td>
			</tr>
			<tr>
			<td>KEY_DNET</td>
			<td>DNET</td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Auto Arc keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_AUTO_ARC_C_FORCE_AGING</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_CAPTION_ENG</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_USBJACK_INSPECT</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_RESET</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_LNA_ON</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_LNA_OFF</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_ANYNET_MODE_OK</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_ANYNET_AUTO_START</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_CAPTION_ON</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_CAPTION_OFF</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_DOUBLE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_LARGE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_LEFT_TOP</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_RIGHT_TOP</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_LEFT_BOTTOM</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_PIP_CH_CHANGE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_AUTOCOLOR_SUCCESS</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_AUTOCOLOR_FAIL</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_JACK_IDENT</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_CAPTION_KOR</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_ANTENNA_AIR</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_ANTENNA_CABLE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_AUTO_ARC_ANTENNA_SATELLITE</td>
			<td></td>
			</tr>
			</tbody>
			</table>
			<hr>
			<p><strong><em>Panel keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th>Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_PANNEL_POWER</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_CHUP</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_VOLUP</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_VOLDOW</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_ENTER</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_MENU</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_SOURCE</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_PANNEL_ENTER</td>
			<td></td>
			</tr>
			</tbody>
			</table>
			<p><br><br>
			<hr>
			<p><strong><em>Extended keys</em></strong></p>
			<table>
			<thead>
			<tr>
			<th>Ключ</th>
			<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>KEY_EXT1</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT2</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT3</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT4</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT5</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT6</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT7</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT8</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT11</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT12</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT13</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT16</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT17</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT18</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT19</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT20</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT21</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT22</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT23</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT24</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT25</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT26</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT27</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT28</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT29</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT30</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT31</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT32</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT33</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT34</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT35</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT36</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT37</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT38</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT39</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT40</td>
			<td></td>
			</tr>
			<tr>
			<td>KEY_EXT41</td>
			<td></td>
			</tr>
			</tbody>
			</table>
		</div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#commands_help">Управление ТВ</a>
      </div>
      <div class="panel-body collapse" id="commands_help">
         <div style="width:900px">
            <div>
               Отправка <i>команд</i> на ТВ выполняется с помощью привязанного к ним <i><b>свойства объекта</b></i> путем записи в это свойство <i>команды</i> через функцию <u>setGlobal()</u> или иным способом. Возможные <i>команды</i> приведены в таблице ниже. <br><br>
               Пример:<br>
               <div style="background: #ffffff; overflow:auto;width:auto;padding:.2em .6em;"><pre style="margin: 0; background: #ffffff; line-height: 125%">setGlobal(<span style="color: #BB4444">&#39;TV1.Power&#39;</span>, <span style="color: #BB4444">&#39;1&#39;</span>);<span style="color: #008800; font-style: italic"><br>// Или сокращенная форма setGlobal<br></span>sg(<span style="color: #BB4444">&#39;TV1.Volume&#39;</span>, <span style="color: #BB4444">&#39;-3&#39;</span>);<span style="color: #008800; font-style: italic"><br>// Открытие сайта в браузере<br></span>sg(<span style="color: #BB4444">&#39;TV1.URL&#39;</span>, <span style="color: #BB4444">&#39;yandex.ru&#39;</span>);</pre></div>
            </div>
            <br>
			При добавлении в модуль телевизора, с ним автоматически добавляются часто используемые команды. Их описание в таблице ниже.
            <table class="table table-hover" align="left" style="margin-bottom: 5px;">
               <thead>
                  <th>Команда</th><th>Описание</th><th>Значения</th>
               </thead>
               <tbody>
                  <tr><td><b>Команда</b></td><td>В привязанное к этой команде свойство вы можете написать любую команду из списка выше и она будет передана в чистом виде на телевизор.</td><td>Любая команда из списка выше</td>
                  <tr><td><b>ВКЛ/ВЫКЛ</b></td><td>Выключение и включение ТВ Включение ТВ с помощью WOL (только для подключения ТВ по ethernet).<br>Поддерживается не всеми моделями ТВ.</td><td><b>1</b> - включить, <b>0</b> - выключить</td>
                  <tr><td><b>Управление громкостью</b></td><td>Управление громкостью.</td><td><b>Положительное</b> число - прибавить на заданное количество пунктов. <b>Отрицательное</b> число - убавить на заданное количество пунктов. <b>0</b> - MUTE</td>
                  <tr><td><b>Установка громкости</b></td><td>Установка уровня громкости.</td><td><b>1-100</b></td>
				  <tr><td><b>Управление каналами</b></td><td>Переключение каналов.</td><td><b>1</b> - канал вперед, <b>0</b> - список каналов, <b>-1</b> - канал назад</td>
                  <tr><td><b>Навигация</b></td><td>Управление курсором.</td><td><b>0</b> или <b>ENTER</b> или <b>OK</b> - кнопка ENTER, <b>1</b> или <b>LEFT</b> - влево, <b>2</b> или <b>UP</b> - вверх,  <b>3</b> или <b>RIGHT</b> - вправо, <b>4</b> или <b>DOWN</b> - вниз.</td>
                  <tr><td><b>Назад</b></td><td>Кнопка НАЗАД</i></td><td>Любое значение</td>
                  <tr><td><b>Меню</b></td><td>Кнопка МЕНЮ</i></td><td>Любое значение</td>
                  <tr><td><b>Домой</b></td><td>Кнопка ДОМОЙ</i></td><td>Любое значение</td>
                  <tr><td><b>Стоп</b></td><td>Кнопка СТОП</i></td><td>Любое значение</td>
                  <tr><td><b>Воспроизведение</b></td><td>Кнопка ПЛЭЙ</i></td><td>Любое значение</td>
                  <tr><td><b>HDMI</b></td><td>Первый источник HDMI</i></td><td>Любое значение</td>
                  <tr><td><b>HDMI1</b></td><td>Второй источник HDMI</i></td><td>Любое значение</td>
                  <tr><td><b>Цифровые кнопки</b></td><td>Ввод цифр. Например, для переключения каналов</i></td><td>Любое положительное цифровое значение</td>
                  <tr><td><b>Цветные кнопки</b></td><td>Цветные кнопки на пульте</td><td><b>1</b> или <b>RED</b> - красная кнопка, <b>2</b> или <b>GREEN</b> - зеленая кнопка,  <b>3</b> или <b>YELLOW</b> - желтая кнопка, <b>4</b> или <b>BLUE</b> - синяя кнопка.</td>
               </tbody>
            </table>
			<p>Аналагочно происходит управление приложениями. В привязанном свойстве возможны значения <b>1</b> - запустить, <b>0</b> - закрыть.</p>
			<p>Первое приложение <b>Internet</b> - запускает браузер с <b>URL</b>, записанным в значение свойства.
			<p>Если вы установили новое приложение, то для того, чтоб оно появилось в модуле, нажмите кнопку <b>Обновить</b> внизу списка приложений.
         </div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#httpapi_help">Встроенные функции</a>
      </div>
      <div class="panel-body collapse" id="httpapi_help">
         <div style="width:98%">
            <div>
               Модулем также можно управлять с помощью встроенных функций. В любой функции в качестве имени устройства можно использовать его <b>ID</b>, <b>название</b> или <b>IP-адрес</b>.
			   <table class="table table-hover" align="left" style="margin-bottom: 5px;">
               <thead>
                  <th>Функция</th><th>Описание</th><th>Пример</th>
               </thead>
               <tbody>
                  <tr><td><b>STVPowerOn(Имя устройства)</b></td><td>Включение телевизора.</td><td>STVPowerOn('Телевизор в зале');</td>
                  <tr><td><b>STVPowerOff(Имя устройства)</b></td><td>Включение телевизора</td><td>STVPowerOff('192.168.0.106');</td>
                  <tr><td><b>STVVolUp(Имя устройства, значение)</b></td><td>Прибавить громкость. Если не написать значение, громкость будет прибавлена на 1</td><td>STVVolUp('Телевизор в зале');<br>STVVolUp('192.168.0.106', 4);</td>
                  <tr><td><b>STVVolDown(Имя устройства, значение)</b></td><td>Убавить громкость. Если не написать значение, громкость будет убавлена на 1</td><td>STVVolDown('Телевизор в зале');<br>STVVolDown('192.168.0.106', 4);</td>
                  <tr><td><b>STVGetVol(Имя устройства)</b></td><td>Запрос текущей громкости ТВ</td><td>STVGetVol('Телевизор в зале');</td>
                  <tr><td><b>STVSetVol(Имя устройства, значение)</b></td><td>Установка громкости на устройстве</i></td><td>STVSetVol('192.168.0.106', 15);</td>
                  <tr><td><b>STVChUp(Имя устройства)</b></td><td>Переключение канала вперед</i></td><td>STVChUp('Телевизор в зале');</td>
                  <tr><td><b>STVChDown(Имя устройства)</b></td><td>Переключение канала назад</i></td><td>STVChDown('192.168.0.106');</td>
                  <tr><td><b>STVEnter(Имя устройства)</b></td><td>Кнопка ENTER</i></td><td>STVEnter('Телевизор в зале');</td>
                  <tr><td><b>STVSendURL(Имя устройства, url)</b></td><td>Открытие ссылки в браузере</i></td><td>STVSendURL('192.168.0.106', 'yandex.ru');</td>
                  <tr><td><b>STVSendKey(Имя устройства, ключ)</b></td><td>Отправка любого ключа из списка выше на ТВ</i></td><td>STVSendKey('Телевизор в зале', 'KEY_VOLUP');</td>
                  <tr><td><b>STVStatus(Имя устройства)</b></td><td>Получение информации о доступности устройства (TRUE/FALSE)</i></td><td>STVStatus('192.168.0.106');</td>
                </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<br>
<div>
   <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_STRING_BACK#></a>
</div>
